body {
    font-family: 'Bruno Ace SC', cursive;
  }
  h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
